[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pathlib = "*"
m2r = "*"
check-manifest = "*"

[packages]
django = "*"

[requires]
python_version = "3.8"
